* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --bg-color: #f1f1f1;
  --bg-secondary: #fbfbfb;
  --dark-grey: #333;
  --light-brown: #c7a17a;
  --black: #1f2226;
  --main-transition: 0.3s;
  --section-padding: 50px;
}
/* Start Global Rules */
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  font-family: "Open Sans", sans-serif;
  scroll-behavior: smooth;
}
h1,
h2,
h3 {
  font-family: "Oswald", serif;
  color: var(--dark-grey);
}
.text-primary {
  color: var(--light-brown);
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.heading span {
  font-size: 18px;
}
.heading h2 {
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
}
/* End Global Rules */
/* Header */
header {
  background-color: #fff;
  position: fixed;
  width: 100%;
  border-bottom: 1px solid #ccc;
}
header .container {
  min-height: 90px;
  max-width: 100%;
}
@media (max-width: 991px) {
  header .container {
    flex-direction: column;
  }
}
@media (max-width: 767px) {
  header {
    position: relative;
  }
}
header .container .logo {
  width: 300px;
}
@media (max-width: 767px) {
  header .container .logo {
    width: 180px
  }
}
@media (max-width: 767px) {
  header .container ul {
    flex-wrap: wrap;
    justify-content: center;
  }
}
header .container ul li a {
  padding: 20px;
  font-size: 18px;
  font-weight: bold;
  color: var(--dark-grey);
  transition: var(--main-transition);
}
@media (max-width: 767px) {
  header .container ul li a {
    font-size: 14px;
    padding: 10px 8px;
  }
}
header .container ul li a:hover {
  color: var(--light-brown);
}
/* Start Home */
#home {
  background: url(../images/home-bg.png) center no-repeat;
  background-size: 100%;
  background-color: var(--bg-color);
  padding-top: 90px;
}
@media (max-width: 767px) {
  #home {
    padding-top: 0;
  }
}
#home .home-content {
  min-height: 100vh;
  gap: 3rem;
}
#home .home-content .text h3 {
  font-size: 24px;
  font-weight: 400;
}
#home .home-content .text h1 {
  font-size: 80px;
  margin: 20px 0;
  line-height: 1.3;
}
@media (max-width: 991px) {
  #home .home-content .text h1 {
    font-size: 50px;
  }
}
#home .home-content .text p {
  line-height: 1.5;
  font-size: 18px;
}
#home .home-content .text .btn {
  margin-top: 2rem;
  background-color: var(--light-brown);
  color: #fff;
  padding: 15px 25px;
  border-radius: 30px;
  transition: var(--main-transition);
}
@media (max-width: 767px) {
  #home .home-content .text .btn {
    margin: 2rem auto;
  }
}
#home .home-content .text .btn:hover {
  background-color: var(--dark-grey);
}
#home .home-content .text .btn i {
  margin-left: 5px
}
#home .home-content img {
  max-width: 100%;
}
@media (max-wi) {
  
}
/* End Home */
/* Start About */
#about {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
@media (max-width: 991px) {
  #about .container .image {
    display: none;
  }
}
#about .container .text h2 {
  text-transform: uppercase;
  font-size: 28px;
  margin-bottom: 10px;
}
#about .container .text .item {
  margin: 2rem 0;
}
/* End About */
/* Start Menu */
#menu {
  background-color: var(--bg-secondary);
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
#menu .container {
  gap: 100px;
}
@media (min-width: 767px) and (max-width: 991px)  {
  #menu .container {
    gap: 50px;
  }
}
#menu ul li {
  border: 1px solid #ddd;
  padding: 25px 20px;
}
#menu ul li:not(:last-child) {
  margin-bottom: 30px;
}
#menu ul li img {
  width: 80px;
  margin-left: -50px;
} 
#menu ul li .details {
  margin-left: 20px;
}
#menu ul li .details h3 {
  font-size: 20px;
  margin-bottom: 15px;
}
#menu ul li .details p {
  font-size: 14px;
  line-height: 1.6;
}
#menu ul li .price {
  border-left: 1px solid #eee;
  padding: 20px;
  margin: auto;
}
@media (min-width: 767px) and (max-width: 991px)  {
  #menu ul li .price {
    padding: 5px;
    margin: auto;
  }
}
#menu ul li .price p {
  font-size: 20px;
  font-weight: 600;
}
/* End Menu */